.widget-grid {
	display: grid;
	width: max-content;
	grid-template-areas: "one two three four" "one five five four" "one five five four" "six six seven four";
	gap: 20px;
	.grid-item {
		border-radius: 20px;
		place-items: center;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		overflow: hidden;
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
	.grid-item-2x1-short {
		width: 196px;
		height: 295px;
	}
	.grid-item-1x1 {
		width: 209px;
		height: 174px;
	}
	.grid-item-1x1-short {
		width: 196px;
		height: 145px;
	}
	.grid-item-2x1 {
		width: 196px;
		height: 339px;
	}

	.grid-item-2x2 {
		height: 265px;
		width: 440px;
	}
	.grid-item-1x2 {
		width: 425px;
		height: 174px;
	}
	.grid-item-3x1 {
		display: flex;
		flex-direction: column;
		gap: 20px;
		height: max-content;
	}
	.grid-item-4x1 {
		display: flex;
		flex-direction: column;
		gap: 20px;
		height: max-content;
	}
	.video-container {
		position: relative;
		.video-player {
			z-index: 1;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.video-overlay {
			border-radius: 20px;
			z-index: 2;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.2);
		}
		.nested-button {
			z-index: 3;
			position: absolute;
			font-family: "Inter", sans-serif;
			font-weight: bold;
			background-color: #ffffff;
			width: 219px;
			height: 55px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: black;
			font-size: 24px;
			border-radius: 20px;

			&:hover + .video-overlay {
				backdrop-filter: blur(10px);
				transition: backdrop-filter 0.2s ease-in-out;
			}
		}
	}

	.textblock {
		text-align: left;
		padding: 15px;
		text-wrap: balance;
	}

	.quote {
		padding: 15px;
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		margin: auto;

		p {
			font-style: italic;
			font-weight: bold;
			font-size: 24px;
			text-align: center;
			text-wrap: balance;
		}
	}

	/* Responsive Design */
	@include device(tablet) {
		grid-template-areas:
			"one two three"
			"one five five"
			"six six seven"
			"four four four";

		grid-template-areas:
			"two three four"
			"five five four"
			"five five four"
			"six six four"
			"seven one one ";
		.grid-item-1x2 {
			width: 440px;
		}
		.grid-item-1x1-short {
			width: 211px;
			height: 174px;
		}
		.grid-item-3x1 {
			flex-direction: row-reverse;
		}
	}

	@include device(mobile) {
		grid-template-areas:
			"one"
			"two"
			"three"
			"four"
			"five"
			"six"
			"seven";
		width: 100%;
		.grid-item-2x1,
		.grid-item-2x1-short,
		.grid-item-1x1-short {
			width: 209px;
		}
		.grid-item-1x2 {
			width: 100%;
		}
		.grid-item-2x1 {
			height: 295px;
		}
		.grid-item-2x2 {
			width: 100%;
		}
	}
}

/* Area Assignments */
.widget-grid {
	#gi-1 {
		grid-area: one;
	}
	#gi-2 {
		grid-area: two;
	}
	#gi-3 {
		grid-area: three;
	}
	#gi-4 {
		grid-area: four;
	}
	#gi-5 {
		grid-area: five;
	}
	#gi-6 {
		grid-area: six;
	}
	#gi-7 {
		grid-area: seven;
	}
	#gi-8 {
		grid-area: eight;
	}
	#gi-9 {
		grid-area: nine;
	}
}
