/* Partial Imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Color Variables */
.tag {
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: #effbff;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
  color: #024154;
}

/* Components Imports */
.widget-grid {
  display: grid;
  width: max-content;
  grid-template-areas: "one two three four" "one five five four" "one five five four" "six six seven four";
  gap: 20px;
  /* Responsive Design */
}
.widget-grid .grid-item {
  border-radius: 20px;
  place-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.widget-grid .grid-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.widget-grid .grid-item-2x1-short {
  width: 196px;
  height: 295px;
}
.widget-grid .grid-item-1x1 {
  width: 209px;
  height: 174px;
}
.widget-grid .grid-item-1x1-short {
  width: 196px;
  height: 145px;
}
.widget-grid .grid-item-2x1 {
  width: 196px;
  height: 339px;
}
.widget-grid .grid-item-2x2 {
  height: 265px;
  width: 440px;
}
.widget-grid .grid-item-1x2 {
  width: 425px;
  height: 174px;
}
.widget-grid .grid-item-3x1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: max-content;
}
.widget-grid .grid-item-4x1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: max-content;
}
.widget-grid .video-container {
  position: relative;
}
.widget-grid .video-container .video-player {
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.widget-grid .video-container .video-overlay {
  border-radius: 20px;
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.widget-grid .video-container .nested-button {
  z-index: 3;
  position: absolute;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  background-color: #ffffff;
  width: 219px;
  height: 55px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 24px;
  border-radius: 20px;
}
.widget-grid .video-container .nested-button:hover + .video-overlay {
  backdrop-filter: blur(10px);
  transition: backdrop-filter 0.2s ease-in-out;
}
.widget-grid .textblock {
  text-align: left;
  padding: 15px;
  text-wrap: balance;
}
.widget-grid .quote {
  padding: 15px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.widget-grid .quote p {
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  text-wrap: balance;
}
@media (min-width: 769px) and (max-width: 1023px) {
  .widget-grid {
    grid-template-areas: "one two three" "one five five" "six six seven" "four four four";
    grid-template-areas: "two three four" "five five four" "five five four" "six six four" "seven one one ";
  }
  .widget-grid .grid-item-1x2 {
    width: 440px;
  }
  .widget-grid .grid-item-1x1-short {
    width: 211px;
    height: 174px;
  }
  .widget-grid .grid-item-3x1 {
    flex-direction: row-reverse;
  }
}
@media (max-width: 768px) {
  .widget-grid {
    grid-template-areas: "one" "two" "three" "four" "five" "six" "seven";
    width: 100%;
  }
  .widget-grid .grid-item-2x1,
  .widget-grid .grid-item-2x1-short,
  .widget-grid .grid-item-1x1-short {
    width: 209px;
  }
  .widget-grid .grid-item-1x2 {
    width: 100%;
  }
  .widget-grid .grid-item-2x1 {
    height: 295px;
  }
  .widget-grid .grid-item-2x2 {
    width: 100%;
  }
}

/* Area Assignments */
.widget-grid #gi-1 {
  grid-area: one;
}
.widget-grid #gi-2 {
  grid-area: two;
}
.widget-grid #gi-3 {
  grid-area: three;
}
.widget-grid #gi-4 {
  grid-area: four;
}
.widget-grid #gi-5 {
  grid-area: five;
}
.widget-grid #gi-6 {
  grid-area: six;
}
.widget-grid #gi-7 {
  grid-area: seven;
}
.widget-grid #gi-8 {
  grid-area: eight;
}
.widget-grid #gi-9 {
  grid-area: nine;
}

.top-banner {
  padding: 49px;
  background-color: #459e97;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top-banner .banner-content-left {
  color: white;
}
.top-banner .banner-content-left .top-banner-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.top-banner .banner-content-left .top-banner-description {
  font-size: 20px;
  font-weight: normal;
}
.top-banner .banner-content-right .reload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
.footer p {
  font-family: "Inter", sans-serif;
}
.footer .footer-text {
  font-size: 16px;
  color: #2b606f;
}
.footer .footer-muted-text {
  font-size: 10px;
  color: rgba(43, 96, 111, 0.6);
}

.menu-item {
  padding: 10px 5px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}
.menu-item .menu-item-icon .icon {
  stroke: #024154;
}
.menu-item .menu-item-info {
  width: 100%;
  color: #024154;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu-item .menu-item-info .menu-item-top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-item .menu-item-info .menu-item-top-info h1 {
  font-size: 18px;
  font-weight: 500;
}
.menu-item .menu-item-info .menu-item-bottom-info {
  font-family: "Lato", sans-serif;
  font-size: 11px;
  font-weight: 300;
}
.menu-item:hover {
  background-color: #024154;
}
.menu-item:hover .menu-item-info {
  color: #ffffff;
}
.menu-item:hover .menu-item-icon .icon {
  stroke: #ffffff !important;
}

.sidebar {
  width: 310px;
  border-radius: 10px;
  box-shadow: 6px 30px 46.8px 0px rgba(0, 0, 0, 0.05);
}
.sidebar .sidebar-header {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.sidebar .sidebar-header .sidebar-header-right {
  display: flex;
  align-items: center;
  gap: 3px;
}
.sidebar .sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
  margin-top: 17px;
}

.App .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App .wrapper .widget-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 61px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 6px 30px 46.8px 0px rgba(0, 0, 0, 0.05);
}
.App .wrapper .widget-view .widget-grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
