@import "./styles/index";

.App {
	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		padding: 0px 10px;

		.widget-view {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 45px;
			border-radius: 10px;
			overflow: hidden;
			box-shadow: 6px 30px 46.8px 0px rgba(0, 0, 0, 0.05);
			.widget-grid-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		@include device(mobile) {
			align-items: flex-start;
			flex-direction: column;
			gap: 10px;
			.sidebar {
				width: 100%;
			}
			.widget-grid {
				padding: 5px;
			}
		}
	}
}
